
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: rgb(201, 59, 214);
  background: #ECF3F7; 
}
.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

.list__item{
  background: rgba(240, 98, 146, 0.85);
  color: #ECF3F7; }

.forminput {
    width: 100%;
    height: 50px;
    font-size: 16px; 

  }
#error{
  border:2px solid red;
}

input[type="text"].form__inputText--addItem {
    padding-right: 220px; }

